.container {
    max-width: 980px;
    position: relative;
}

section article:first-child {
    margin-bottom: 12px;
}

/* header  */

header {
    height: 100px;
}

.header-title {
    position: absolute;
    top: 20px;
    left: 65px;
    color: aliceblue;
    font-size: 15px;
    font-family: cursive;
}

.header-title>a {
    text-decoration: none;
}

.header-title>a>span {
    color: #fff;
    font-family: 'Roboto';
}

/* header  */

/* start form (input button) */

.fa-map-marker {
    position: absolute;
    z-index: 100;
    color: #0072c5;
    font-size: 32px;
    padding-left: 10px;
    padding-top: 2px;
    cursor: pointer;
}

.input-group {
    max-width: 600px;
}

.form-control {
    border-radius: 15px;
    margin-right: 15px;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(217, 230, 243);
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn {
    border-radius: 20px;
    padding: 0 40px;
}

.input-group>.input-group-append>.btn {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-success {
    color: #fff;
    background-color: #24ca9c;
    border-color: #24ca9c;
    font-size: 11px;
    box-shadow: 0px 1px 7px 1px rgb(202, 205, 208);
}

.search-container {
    padding: 50px 0;
}

/* end form (input button) */

/* start replacement content */

.replacement-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0072c5;
}

.replacement-content .button-location {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: transparent;
    color: #24ca9c;
    border-bottom-left-radius: 20px;
    border: 2px solid #24ca9c;
    padding: 5px 10px;
    outline: none;
}

.replacement-content 
.button-location:active, 
.button-location:focus {
    background-color: aquamarine;
 }

 .replacement-content 
 .button-location:hover {
    color: #24ca9cc7;
    border: 2px solid #24ca9cc7;
 }
/* end replacement content */


/* start layout statistic -- first section col-12 (main statistics) */

.long-section {
    background: #299ff5;
    color: #fff;
    font-weight: 500;
}

.image-container {
    position: relative;
}

.image-container>div {
    position: absolute;
}

.imageOriginal {
    position: absolute;
    right: 0;
    z-index: 1;
    background: rgba(41, 159, 245, 0.88);
    width: 140px;
    height: 124px;
}

.imageMirror {
    position: absolute;
    right: 22px;
    top: 18px;
}

imageOriginal img {
    width: 120px;
}

.imageMirror img {
    width: 140px;
}

.desc {
    color: #ffeb00;
    font-size: 21px;
}

.date {
    font-size: 14px;
}

.tempFormat {
    padding-top: 8px;
    margin-left: 93px;
    font-size: 20px;
}

.tempFormat span:nth-child(2) {
    padding: 0 3px;
}

.tempFormat span:first-child, .tempFormat span:last-child {
    cursor: pointer;
}

/* end layout statistic -- first section col-12 (main statistics) */

/* start layout statistic -- second section col-6 ( extend statistics  with chart  ) */

.chart {
    background: #FFFFFF;
}

.containerRightBlock {
    padding-left: 12px;
}

.icons-section {
    height: 90px;
    background: #FFFFFF;
    margin-bottom: 12px;
}

.icons-section>div {
    flex: 1;
    font-size: 12px;
    line-height: 0;
    color: #6d6d6da8;
}

.icons-section>div span {
    padding-left: 6px;
}

.icons-section div:last-child>span {
    padding-top: 8px;
}

.weekly-head-section {
    height: 90px;
    background: #FFFFFF;
    margin-bottom: 12px;
}

.weekly-head-section div {
    flex: 1;
}

.second-d {
    position: relative;
}

.second-d:before {
    content: "";
    position: absolute;
    left: 0;
    height: 50%;
    width: 2px;
    background: #e2f0fd;
}

.third-div {
    position: relative;
}

.third-div:before {
    content: "";
    position: absolute;
    left: 0;
    height: 50%;
    width: 1.5px;
    background: #e2f0fd;
}

.weekly-section {
    background: #fff;
    padding: 5px 0;
    font-size: 11.2px;
    color: #4c4b4b;
}

.weekly-col-today > div, 
.weekly-col > div {
    min-width: 77px;
}

.weekly-col-today {
    font-weight: 700;
    color: #000000;
}

.min-max-temp {
    width: 60%;
    text-align: right;
}

.min-max-temp div {
    display: inline-block;
}

.min-max-temp div:first-child, .min-max-temp div:last-child {
    width: 40px;
    text-align: center;
}

.min-max-div {
    display: inline-block;
    max-width: 70px;
    height: 15px;
    background: linear-gradient(to right, #299ff5 50%, #ec6e4c 50%);
    border-radius: 20px;
    width: 70px;
}

.weekly-col, .weekly-col-today {
    display: flex;
    justify-content: space-around;
}

.weekly-col-today div:last-child {
    padding-top: 7px;
}

.weelky-title {
    display: flex;
    align-items: center;
    color: #219df5;
    font-size: 15px;
    padding-left: 40px;
}

.weekly-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekly-img img {
    width: 100%;
}

/* end layout statistic -- second section col-6 ( extend statistics  with chart ) */

.container-ng-template {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    color: #8c9aa7;
    position: relative;
}

.loader {
    border: 3px solid #e2f0fd;
    border-radius: 50%;
    border-top: 3px solid black;
    width: 120px;
    height: 120px;
    animation: spin 0.7s linear infinite;
    margin-top: 100px;
    margin-bottom: 20px;
}

.not-found-message {
    position: absolute;
    bottom: 15px;
    font-size: 12px;
    color: #8c9aa7;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 767.98px) {
    .containerRightBlock {
        padding: 0;
        margin-top: 12px;
    }
    .weekly-head-section {
        display: none!important;
    }
    .container-ng-template,
    .replacement-content {
        padding: 15px;
    }
}

@media (min-width: 490px) and (max-width: 767.98px) {
    .weekly-section {
        padding: 0 50px;
    }
}

@media (max-width: 390px) {
    header {
        height: 75px;
    }
    svg {
        height: 100px;
    }
    .search-container, .input-group {
        padding: 24px 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .btn-success {
        padding: 7px 35px;
        margin-top: 5px;
    }
  
}
