.bg-light {
    background-image: linear-gradient( #00BCD4, #03A9F4);
}

.navbar-light .navbar-text {
    color: #fff;
    font-weight: 600;
}

.input-group {
    max-width: 600px;
}

.form-control {
    border-radius: 15px;
    margin-right: 15px;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(217, 230, 243);
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn {
    border-radius: 20px;
    padding: 0 30px;
}

.input-group>.input-group-append>.btn {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn-success {
    color: #fff;
    background-color: #24ca9c;
    border-color: #24ca9c;
    font-size: 13px;
    box-shadow: 0px 1px 7px 1px rgb(202, 205, 208);
}