<nav class="navbar navbar-light bg-light py-3">
    <span class="navbar-text pl-5">
        My Weather app
    </span>
</nav>

<section class="container">
    <div class="input-group py-5  m-auto">
        <input type="text" class="form-control px-5" placeholder="Enter city name" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-success" type="button">Search</button>
        </div>
    </div>

    <div >
        <div class="row py-3" style="height: 230px; background:#46A7EE;"></div>
        <div class="row">
            <div class="col-md-7 col-sm-12 my-3" style="height: 400px; background: lightblue;"></div>
    
            <div class="col-md-5 col-sm-12  my-3 pr-0" style="height: 400px; background: #d2e4ea;">
                <div class="" style="height: 100px; background: lightblue;"></div>
                <div class="mt-3" style="height: 283px; background: lightblue;"></div>
            </div>
        </div>
  
    </div>    

</section>