/* start  top bar  */

.bg-light {
    background-image: linear-gradient( #00BCD4, #03A9F4);
}

.navbar-light .navbar-text {
    color: #fff;
}

/* end top bar  */

/* start form (input button) */

.input-group {
    max-width: 600px;
}

.form-control {
    border-radius: 15px;
    margin-right: 15px;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(217, 230, 243);
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn {
    border-radius: 20px;
    padding: 0 30px;
}

.input-group>.input-group-append>.btn {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn-success {
    color: #fff;
    background-color: #24ca9c;
    border-color: #24ca9c;
    font-size: 13px;
    box-shadow: 0px 1px 7px 1px rgb(202, 205, 208);
}

/* end form (input button) */

/* start layout statistic -- first section col-12 (main statistics) */

.col12_main {
    background: #46A7EE;
    color: #fff;
    font-weight: 500;
}

.image-container {
    position: relative;
}

.imageOriginal {
    position: absolute;
    right: 0;
    z-index: 1;
    background: rgba(70, 167, 238, 0.89);
    width: 220px;
    height: 120px;
}

.imageMirror {
    position: absolute;
    right: 40px;
    top: 0px;
}

imageOriginal img {
    width: 120px;
}

.imageMirror img {
    width: 140px;
}

.desc {
    color: #ffeb00;
    font-size: 21px;
}

.date {
    font-size: 14px;
}

.degrees {
    line-height: 2;
    font-size: 20px;
    color: #ffeb00;
}

/* end layout statistic -- first section col-12 (main statistics) */

/* start layout statistic -- second section col-6 ( extend statistics  with chart  ) */

.sectionOne {
    height: 100px;
    background: #FFFFFF;
}

.sectionOne>div {
    flex: 1;
    font-size: 12px;
    line-height: 0;
    color: #6d6d6da8;
}

.secondDiv {
    position: relative;
}

.secondDiv:before {
    content: "";
    position: absolute;
    left: 0;
    height: 50%;
    width: 2px;
    background: #e2f0fd;
}

.thirdDiv {
    position: relative;
}

.thirdDiv:before {
    content: "";
    position: absolute;
    left: 0;
    height: 50%;
    width: 1.5px;
    background: #e2f0fd;
}

.sectionOne>div span {
    padding-left: 6px;
}

.sectionOne div:last-child>span {
    padding-top: 8px;
}

.sectionTwo ul {
    list-style-type: none; 
    font-size: 13px; 
    padding: 0 10px;
}

.sectionTwo ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

containerMinMax {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.minMax {
    display: inline-block;
    width: 70px;
    height: 15px;
    background: #F3C62B;
    border-radius: 20px;
    margin: 0 5px;
}

/* end layout statistic -- second section col-6 ( extend statistics  with chart ) */